@font-face {
    font-family: "JakartaSans";
    src: url(assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e3f3fd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: "JakartaSans";
}

.card {
    background: white;
    border-radius: 10px;
    width: 80%;
    padding: 20px;
    color: #122f3f;
    height: 80%;
}

.headTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.headTitle p {
    text-decoration: underline dashed;
    cursor: pointer;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    border: none;
    outline: none;
    height: 30px;
}

.input-group {
    display: flex;
    position: relative;
    align-items: center;
    border: 1px solid #ccc;
    font-weight: 600;
    color: #4e6e7e;
}


.input-group span {
    position: absolute;
    background-color: #e3f3fd;
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.perfix {
    left: 0;
}

.suffix {
    right: 0;
}


.input-group input {
    width: 100%;
    padding-left: 40px;
}

.spanRight input {
    padding: 0 40px;
}

.mortgage {
    width: 100%;
}
