@font-face {
    font-family: "JakartaSans";
    src: url(assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e3f3fd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: "JakartaSans";
}

.card {
    margin-top: 50px;
    background: white;
    border-radius: 10px;
    width: 80%;
    color: #122f3f;
    height: 100%;
    display: flex;
}

.card-left {
    padding: 20px;
}

.headTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.headTitle p {
    text-decoration: underline dashed;
    cursor: pointer;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

form label {
    color: #4e6e7e;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    border: none;
    outline: 1px solid #4e6e7e;
    height: 30px;
}

.input-group {
    display: flex;
    position: relative;
    align-items: center;
    border: 1px solid #ccc;
    font-weight: 600;
    color: #4e6e7e;
}


.input-group span {
    position: absolute;
    background-color: #e3f3fd;
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.perfix {
    left: 0;
}

.suffix {
    right: 0;
}

.input-group input {
    padding-left: 10px;
    width: 100%;
}

.mortgageTerm,
.interest {
    flex: 1;
}


.mortgage {
    width: 100%;
}

#mortgageValue {
    padding-left: 40px;
}

.checkBox {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkBox label {
    display: flex;
    align-items: center;
    border: 1px solid #122f3f;
    gap: 10px;
    border-radius: 2px;
    padding: 2px 0;
}

.checkBox input[type="radio"] {
    outline: none;
    margin-left: 10px;
}

.calc {
    padding-top: 30px;
}

.calc button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 20px;
    background-color: #d7da2f;
    border: none;
    border-radius: 30px;
    font-weight: 550;
    cursor: pointer;
    color: #122f3f;
}

.calc button img {
    width: 20px;
}

.card-right {
    background-color: #122f3f;
    flex: 1;
    border-radius: 0 10px 10px 50px;
    margin-left: 20px;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 400px;
    color: white;
}

.result-money {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
    gap: 20px;
    padding: 20px;
    width: 400px;
}

.moneyCalc {
    border: 2px solid #0e2535;
    border-top: 4px solid #d7da2f;
    background-color: #0e2535;
    padding: 20px;
    border-radius: 5px;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.moneyCalc h1 {
    color: #d7da2f;
}

hr {
    margin: 20px 0;
    border: none;
    height: 1px;
    background-color: #344249;
}

.moneyCalc p {
    color: #4e6e7e;
}


@media screen and (max-width:375px) {
    body {
        background: white;
        width: 100%;
    }

    .card {
        flex-wrap: wrap;
        width: 100%;
    }

    .card-right {
        flex-basis: 100%;
        margin-left: 0;
        border-radius: 0;
    }

    footer {
        display: none;
    }
}

#showResult {
    display: none;
}

.error {
    color: #d73328;
    font-size: 12px;
    font-weight: 600;
    display: none;
}

.error-group {
    border: 1px solid #d73328; 
}

.error-group .perfix,
.error-group .suffix {
    background-color: #d73328;
    color: white;
}

.error-group input {
    outline: none; 
}